{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">
<p>Your username - {{ user }}  <a href="{% url 'polls:logout_view' %}">Log-out</a></p>
{% if question.showable %}
    <h1>{{ question.question_text }}</h1>
    <p>{{ question.long_desc }}</p>
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

    <form action="{% url 'polls:vote' question.id %}" method="post">
    {% csrf_token %}
    {% for choice in question.choice_set.all %}
        <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
        <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
    {% endfor %}
    <input type="submit" value="Vote">
    </form>
{% else %}
    <p>This poll is over</p>
{% endif %}
<a href="{% url 'polls:index' %}">To the main?</a>