<h1>Sign-up</h1>
{% if message %}<p><strong>{{ message }}</strong></p>{% endif %}
<form action="{% url 'polls:regis' %}" method="post">
{% csrf_token %}
    <label for="username">Username</label>
    <input type="text" name="username" id="username" required><br>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" required><br>
    <input type="submit" value="Sign-up">
</form>
<br><p><a href="{% url 'polls:login' %}">Log-in</a> | <a href="{% url 'polls:signup' %}">Sign-up</a></p>
